#div_admin_Box{
    margin: 0 auto;
    width: 40%;
    height: 800px;
    background-color: rgba(241, 240, 231, 0.77);
    border-style: solid;
}
#div_announcement{
    margin-left: 10px;
    height: 400px;
}
#div_announcement p{
    font-size: 20px;

}
#div_announcement textarea{


    width: 98%;
    height: 150px;
    resize:none;
    font-size: 20px;
}
#div_announcement #up{
    margin-left: 20px;
    width: 50px;
}
#div_announcement #thisTitle{
    margin-bottom: 10px;
    width: 95%;
    height: 25px;
    font-size: 22px;

}
