#myBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 替换为你的背景图片路径 */

    /*background:  url('../img/Bigbc3.jpg');*/
    background-size: cover;
    opacity: 1; /* 初始时设置为不透明 */
    transition: opacity 1.5s ease; /* 设置过渡效果，持续时间为1秒，缓动效果为ease */
    /*防止在过渡的时候遮挡元素*/
    z-index: -2;
}
#myBackground_1{
    margin: 40px 5%;
}
#myBackground_1 p{
    font-size: 40px;
}
#div_juesBigBox{
    width: 1000px;
    height: 1000px;
    margin: 20px auto;
    /*background-color: rgba(180, 188, 196, 0.95);*/
    opacity: 0;
    z-index: 2;

}

#div_juesBigBox:active{
    /*background-color: rgba(255, 188, 196, 0.95);*/

}
#div_juesBigBox img{
    width: 500px;
    height: 600px;
}
div_juesMessage{
    width: 1000px;
    height: 400px;

}
#div_juesMessage #PeopleNames{
    margin-left: 10px;
    font-size: 25px;
    border-left-style: solid;
    padding-left: 15px;
    font-family: 华文隶书;

}
#div_juesMessage span{
    margin-left: 10px;
    font-size: 20px;
    line-height: 30px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px;
    font-family: 宋体;
    opacity: 0;
    transition: opacity 1.5s ease;

}
#div_juesMessage #PeopleMessage{
    font-size: 20px;
    text-indent: 2em;
    line-height: 50px;
}

/*#div_juesBigBox {*/
/*    !* 跟随界面 *!*/
/*    position: absolute;*/
/*    margin-left: 400px;*/
/*}*/
